@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@font-face{
	font-family:quantify;
	src:url('../fonts/Quantify.ttf');
	font-style: normal;
}
body{
    font-family: pt sans;
}
